#python=3.11
numpy<2
#openbabel
nglview
matplotlib
#ipynb pkgs
notebook
nbformat
ipywidgets
jupyterlab-widgets
#OpenCADD pkgs
pandas==3.0.1
rdkit==2025.9.3
MDAnalysis
redo
bravado
biopandas
biotite
bio
git+https://github.com/volkamerlab/opencadd.git@biopython_update
openbabel # conda
smina # conda

